.header {
	// @include bg-cover('../image/bg_header.jpg');
	// height: 200vh;
	// overflow: hidden;

	&__wrapper {
		display: flex;
		justify-content: flex-end;
	}
}

.hero-block {
	@include bg-cover('../image/bg_header.jpg');
	height: 100vh;
}