.header {

    &__company-info {
        position: relative;
        text-align: center;
    }

    // .header__company-logo

    &__company-logo {
        text-decoration: none;
        font-size: 30px;
        color: $color-white;
    }
}
.logo {
    text-transform: uppercase;
}