.header {
	// @include bg-cover('../image/bg_header.jpg');
	// height: 200vh;
	overflow: hidden;

	&__wrapper {
		display: flex;
		justify-content: flex-end;
	}
}

.hero-block {}

.slider-item {
	height: calc(100vh - 60px);

	@include bg-cover('../image/bg_header.jpg');
	&__info-block {
		max-width: 660px;
	}

	&__container {}

	&__strong {}

	&__link {}
}

.container {}

// .main-slider {
// 	@include bg-cover('../image/bg-slider_1.jpg');
// }

// .catalog-slider {
// 	@include bg-cover('../image/bg-slider_2.jpg');
// }

// .application-slider {
// 	@include bg-cover('../image/bg-slider_3.jpg');
// }

// .project-slider {
// 	@include bg-cover('../image/bg-slider_4.jpg');
// }