<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="page">
    <header class="header" id="header">
        <div class="header__menu">
            <div class="row">
                <!-- Menu -->
                <div class="col-6">
                    <nav class="menu" id="menu">
                        <input class="menu__input" type="checkbox" id="burgerMenuBtn">
                        <label class="menu__burger-btn burger-btn" id="burgerMenuBtnItem" for="burgerMenuBtn">
                            <span class="burger-btn__line"></span>
                        </label>
                        <ul class="menu__list">
                            <li class="menu__item js-menu-items">
                                <a class="menu__link" href="#">Головна</a>
                            </li>
                            <li class="menu__item js-menu-items">
                                <a class="menu__link" href="#">Послуги</a>
                            </li>
                            <li class="menu__item js-menu-items">
                                <input class="sub-menu-btn-input" type="checkbox" id="subMenuBtn">
                                <a class="menu__link menu__link_arrow" href="">Товари
                                    <label class="sub-menu-btn" for="subMenuBtn"></label>
                                </a>
                                <ul class="sub-menu menu__sub-menu sub-menu__state-full">
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Контролери
                                            поливу</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Датчики
                                            поливу</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Електромагнітні
                                            клапани</a>
                                    </li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Роторні
                                            дощувачі</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Статичні
                                            дощувачі</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Форсунки
                                            спрей</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Форсунки
                                            ротатори MP
                                            Rotator</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Аксесуари</a>
                                    </li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Клапанні
                                            бокси</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Садові
                                            гідранти</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Компресійні
                                            фітинги
                                            Irritec</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Труби для
                                            поливу</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Кабель для
                                            поливу</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Крапельний
                                            полив</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Фільтри
                                            поливу</a></li>
                                    <li class="sub-menu__item"><a class="sub-menu__link" href="#">Різьбові
                                            фітинги
                                            ПЕ
                                            Irritec</a></li>
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="#">Різьбові латунні
                                            фітинги</a>
                                    </li>
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="#">Кульові
                                            крани</a></li>
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="#">Послуги</a></li>
                                </ul>
                            </li>
                            <li class="menu__item js-menu-items">
                                <a class="menu__link" href="#">Ціни</a></li>
                            <li class="menu__item js-menu-items">
                                <input class="sub-menu-btn-input" type="checkbox" id="subMenuBtn1">
                                <a class="menu__link menu__link_arrow" href="#">Покупцеві
                                    <label class="sub-menu-btn" for="subMenuBtn1"></label>
                                </a>
                                <ul class="sub-menu menu__sub-menu">
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="#">Що потібно знати про систему
                                            автополиву?</a>
                                    </li>
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="">Про нас</a>
                                    </li>
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="">Наші сертифікати</a>
                                    </li>
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="">Портфоліо</a>
                                    </li>
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="">Доставка і оплата</a></li>
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="">Повернення товару</a>
                                    </li>
                                    <li class="sub-menu__item">
                                        <a class="sub-menu__link" href="">Статті</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item js-menu-items">
                                <a class="menu__link" href="#">Контакти</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Logo Company name -->
                <div class="col-2">
                    <div class="header__company-info">
                        <a class="header__company-logo" href="#" title="">
                            <img class="header-company-info__img" src="#" alt="">
                        </a>
                        <!-- <div class="header__company-name">
                            <a class="header__name-link" href="#" title=""></a>
                        </div> -->
                    </div>
                </div>
                <!--Login Search Cart-->
                <div class="col-4">
                    <div class="header__login">
                        <button class="open-btn header__open-login" id="loginOpen">Увійти</button>
                        <div class="header__login-form form-popup login-form" id="loginForm">
                            <form action="get" class="form-container">
                                <p class="login-form__title">Вхід</p>
                                <p class="login-form__signature">Для входу введіть свою email адресу</p>

                                <!-- <label for="email" class="login-form__email"><b>Пошта</b></label> -->
                                <input class="login-form__input input" type="text" placeholder="Email" name="email" required>

                                <!-- <label for="psw" class="login-form__psw"><b>Пароль</b></label> -->
                                <input class="login-form__input input" type="password" placeholder="Password" name="psw" required>

                                <button type="submit" class="btn login-form__login-btn">Увійти</button>
                                <button type="submit" class="login-form_close-btn close-btn" id="loginClose"></button>
                                <a class="login-form__link" href="#">Зареєструватись</a>
                            </form>
                        </div>
                    </div>
                    <!-- <div class="header__search">
                        <form id="search" class="header__search-form search" name="" method="get" action="">
                            <input id="search__input" autocomplete="off" maxlength="1000" type="text">
                            <button class="search__button"><span class="search-icon"></span>search</button>
                        </form>
                    </div> -->
                    <!-- <div id="cart" class="header__cart cart">
                        <div class="cart__container">
                            <div class="cart__visible-part">
                                Cart<span>{{ cartList.length }}</span>
                            </div>
                            <div class="cart__hover-block">
                                <div class="cart__item cart-product" v-for="(product, index) in cartList"
                                    :key="product.id">
                                    <img class="cart-product__image " :src="pathImageFolder + product.img"
                                        :alt="product.name">
                                    <strong class="cart-product__name">{{product.name}}</strong>
                                    <p class="cart-product__price">
                                        <span
                                            class="cart-product__currensy-symbol">{{ currensySymbol }}</span>{{ product.specialPrice.toLocaleString() }}
                                        <span class="cart-product__currensy-name">{{currensyName}}</span></p>
                                    <p class="cart-product__count-price">
                                        <span
                                            class="cart-product__currensy-symbol">{{ currensySymbol }}</span>{{ (product.specialPrice * product.qty).toLocaleString() }}
                                        <span class="cart-product__currensy-name">{{currensyName}}</span></p>
                                    <div>
                                        <button @click="setQtyProduct(product, false)">-</button>
                                        <input type="text" v-model="product.qty">
                                        <button @click="setQtyProduct(product, true)">+</button>
                                    </div>
                                </div>
                                <div class="cart-product__final-price" v-if="getTotalPrice !== 0">
                                    <span
                                        class="cart-product__currensy-symbol">{{currensySymbol}}</span>{{ getTotalPrice }}
                                    <span class="cart-product__currensy-name">{{currensyName}}</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="hero-block" id="heroBlock">
            <div class="main-slider slider-item">
                <div class="container slider-item__container">
                    <strong class="slider-item__strong">
                    </strong>
                    <a href="#" class="slider-item__link"></a>
                </div>
            </div>
            <div class="catalog-slider slider-item">
                <div class="container slider-item__container">
                    <strong class="slider-item__strong">
                    </strong>
                    <a href="#" class="slider-item__link"></a>
                </div>
            </div>
            <div class="application-slider slider-item">
                <div class="container slider-item__container">
                    <strong class="slider-item__strong">
                    </strong>
                    <a href="#" class="slider-item__link"></a>
                </div>
            </div>
            <div class="project-slider slider-item">
                <div class="container slider-item__container">
                    <strong class="slider-item__strong">
                    </strong>
                    <a href="#" class="slider-item__link"></a>
                </div>
            </div>
        </div>
    </header>
    <script src="js/script.js"></script>
</body>

</html>